<h1>Homepage</h1>

  <body>
    <ul>
      <li>
        <a href="/movies">All movies</a>
      </li>
      <li>
        <a href="/directors">All direcotrs</a>
      </li>
      <li>
        <a href="/actors">All actors</a>
      </li>
    </ul>
  </body>
